/* 
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160 / 192 / 224 / 256 / 288

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
*/

/* ============ GLOBAL =========== */

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: #1d2025ff;
  --dark-grayish-blue: #68707dff;
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: #f7f8fdff;
  --light-grayish-blue-darker: #e7e8ed;
  --white: hsl(0, 0%, 100%);
  --black: #000000ff;
  --black-overlay-75: #000000bf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f7f8fdff;
  color: var(--very-dark-blue);
  font-family: "Kumbh Sans", sans-serif;
}

#root {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* ============ NAV =========== */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 1.8rem 0;
  margin-bottom: 8rem;
  border-bottom: 1px solid var(--grayish-blue);
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.navbar ul li {
  list-style: none;
  cursor: pointer;
}

/* LVHA */

.navbar ul li a:link,
.navbar ul li a:visited {
  position: relative;
  color: var(--dark-grayish-blue);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navbar ul li a:hover,
.navbar ul li a:active {
  color: var(--black);
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: -4.1rem;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-color: var(--orange);
  opacity: 0;
}

.navbar ul li a:hover::after,
.navbar ul li a:active::after {
  opacity: 1;
  cursor: auto;
}

.nav-texts,
.nav-imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.nav-texts {
  gap: 4.8rem;
}

.nav-imgs .cart {
  position: relative;
  padding: 2.1rem 0;
  cursor: pointer;
  transition: border 0.2s ease, border-radius 0.2s ease;
}

.nav-imgs .cart:hover {
  filter: brightness(0) saturate(90%);
}

.avatar {
  width: 4.4rem;
  cursor: pointer;
}

.avatar:hover {
  border-radius: 999px;
  border: 2px solid var(--orange);
}

/* ============ CART =========== */

.cart-tab {
  position: absolute;
  top: 8rem;
  right: 11rem;
  width: 30rem;
  height: 23rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 6px 12px 6px rgba(0, 0, 0, 0.07);
  background-color: var(--light-grayish-blue);
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cart-tab.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.cart-tab h2 {
  font-size: 1.6rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid var(--very-dark-blue);
  border-bottom: 1px solid var(--very-dark-blue);
}

.cart-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.full-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem 0;
}

.cart-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.cart-details p {
  font-size: 1.4rem;
}

.full-cart img {
  width: 5rem;
  border-radius: 0.4rem;
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17rem;
}

.delete-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.delete-button img {
  height: 1.5rem;
  width: 1.5rem;
}

/* ============ MAIN =========== */

main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 13rem;
  padding: 0 4.8rem;
  margin-bottom: 8rem;
}

/* ============ CAROUSEL =========== */

@keyframes heroFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-img {
  margin-bottom: 3.2rem;
}

.hero-img img {
  border-radius: 1rem;
  width: 45rem;
  cursor: pointer;
  animation: heroFade 0.5s ease;
}

.gallery-imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45rem;
}

.thumb-wrapper {
  border-radius: 1.4rem;
}

.thumb-wrapper img {
  width: 9.5rem;
  border-radius: 1.12rem;
  cursor: pointer;
  display: block;
  transition: opacity 0.5s ease;
}

.selected {
  border: 3px solid var(--orange);
}

.selected img {
  opacity: 0.3;
}

/* ============ DETAILS =========== */

.details {
  padding-top: 6.4rem;
}

.company-name {
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  margin-bottom: 1.6rem;
}

.details h2 {
  text-transform: capitalize;
  font-size: 4.4rem;
  letter-spacing: 0.5px;
  margin-bottom: 3.2rem;
  line-height: 1.1;
}

.paragraph {
  font-size: 1.6rem;
  color: var(--dark-grayish-blue);
  line-height: 1.7;
  padding-right: 1.6rem;
  margin-bottom: 2.4rem;
}

.price {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.price::after {
  content: "50%";
  position: absolute;
  background-color: var(--very-dark-blue);
  color: var(--light-grayish-blue);
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  top: 0.7rem;
  left: 12rem;
}

.price-before {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  margin-bottom: 3.2rem;
}

.quantity-buttons {
  display: flex;
  width: 15rem;
}

.quantity-buttons button {
  border: none;
  background-color: var(--light-grayish-blue-darker);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

.quantity-buttons button:nth-of-type(1) {
  color: var(--orange);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.quantity-buttons button:nth-of-type(1):hover,
.quantity-buttons button:nth-of-type(1):active {
  opacity: 0.8;
}

.quantity-buttons button:nth-of-type(3) {
  color: var(--orange);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.quantity-buttons button:nth-of-type(3):hover,
.quantity-buttons button:nth-of-type(3):active {
  opacity: 0.7;
}

.add-to-cart:hover,
.add-to-cart:active {
  opacity: 0.8;
}

.add-to-cart img {
  filter: brightness(0) saturate(100%);
}

.flex-div {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 8rem;
}
